<div class="container">
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarCenteredExample"
          aria-controls="navbarCenteredExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <i class="fas fa-bars"></i>
        </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
        >
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Mon Curriculum Vitæ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/@lemondeducode2168", target="_blank">Ma chaîne YouTube</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/mathieu-chirac-1b453123b/", target="_blank">Mon Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/Astarte19dev", target="_blank">Mon Github</a>
            </li>
      </div>
    </div>
  </nav>
</div>

  <h1>Mathieu Chirac</h1>
    <h2>Développeur Web</h2>
      <p>Riche d’une carrière de 20 années dans le sport de haut niveau en tant que manager de performance et chef de projet; je propose désormais de transférer mes compétences managériales dans un secteur qui me passionne. Je m’attache dans cette idée à respecter les valeurs qui sont les miennes à savoir investissement, travail et exigence et sens du collectif.</p>

  <div class="cards">
    <div class="card-category">
      <h3>Environnement technique</h3>
        <ul>
          <li>Ruby on Rails</li>
          <li>Javascript (Stimulus / Ajax)</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>SQL / PostgreSQL / SQLite</li>
          <li>Github</li>
          <li>Heroku</li>
          <li>Cloudinary</li>
          <li>Jira</li>
          <li>Trello</li>
          <li>Figma</li>
        </ul>
  </div>
    <div class="card-category">
      <h3>Softskills</h3>
        <ul>
          <li>Pensée analytique & capacité d’innovation</li>
          <li>Créativité, originalité & prise d’initiative</li>
          <li>Capacité à manager, décider & arbitrer</li>
          <li>Capacité d’analyse & pensée critique</li>
          <li>Capacité à résoudre des problèmes complexes</li>
          <li>Leadership & sens des responsabilités </li>
          <li>Intelligence émotionnelle</li>
          <li>Raisonnement, capacité à résoudre des problèmes complexes</li>
          <li>Capacités d’analyse de systèmes & d’évaluation</li>
          <li>Capacité d’adaptation et de flexibilité</li>
          <li>Capacité à challenger & motiver </li>
        </ul>
    </div>
    <div class="card-category">
      <h3>Projets numériques</h3>
        <ul>
          <li>Logiciel métier de management des ressources humaines.</li>
          <li>Applications de suivi des états de formes (plateforme web & mobile).</li>
          <li>Logiciels métier de centralisation et d’interprétation des data (monitoring, tracking et analyse).</li>
          <li>Applications pour le tracking GPS / cardiofrequelincemetre.</li>
          <li>Logiciel métier pour le suivis de l’activité de l’entreprise et la gestion des projets clients.</li>
        </ul>
    </div>
</div>

<%= link_to 'Menu', root_path, class: 'btn btn-primary' %>




</div>
