#github  {
  height: 100%;
  padding-left: 28px;
}

#linkedin  {
  height: 100%;
  padding-left: 35px;
}

#globe  {
  height: 100%;
  padding-left: 25px;

}

#youtube  {
  height: 100%;
  padding-left: 15px;
}
